/* Global */
body {
  font-family: Arial, sans-serif;
  background :linear-gradient(to top right, #6200ee, #c382fc);
  margin: 0;
  padding: 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(227, 209, 248);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5700e3;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #2a2727;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #6200ee;
}
/* Main Container */
.container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Headings */
h2 {
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
  border-left: 5px solid #6200ee;
  padding-left: 10px;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 5px rgba(98,0,238,0.3);
}

/* Add Buttons */
.add-btn {
  background: #0a9396;
  color: white;
  padding: 8px 15px;
  border: 0;
  margin-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.add-btn:hover {
  background: #087f82;
}

/* Main Button */
.btn {
  background: #6200ee;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background: #5300cb;
}

/* Box around repeating fields */
.box {
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
